<a href="https://colab.research.google.com/github/AldrichRenzo/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Python

Python Variables

In [1]:
x = float(1) 
a, b = 0, -1
a, b, c = "Sally", "John", "Anna"

print('This a sample')
print(a)
print(c)

This a sample
Sally
Anna

Casting

In [2]:
print(x)

1.0

Type() Function

In [3]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [4]:
h= "Maria"
v= 1
V= 2

print(h)
print(v)
print(v+1)

Maria
1
2

Multiple Variables

In [6]:
x,y,z="one", "two", "three"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
three
one two three

One Value to Multiple Variables

In [7]:
x = y = z ="Stella"
print(x,y,z)

Stella Stella Stella

Output Variables

In [11]:
x= "enjoying"

print("Python is " + x)

x = "Hi"
y = "Ayaka"

print(x+""+" "+y)

Python is enjoying
Hi Ayaka

Arithmetic Operations

In [14]:
f = 1
g = 2
i = 12

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**i)

3
-1
12
6
1.5
1
1
531441

Assignment Operators

In [16]:
k = 2
l=4
k+=4 #same as k=k+4

print(k)

print(l>>1)

6
2

Boolean Operators

In [17]:
k=4
l=6
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

1
16

Relational Operators

In [18]:
print(v>k) #v=1, k=2

print(v==k)

False
False

Logical Operators

In [19]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [20]:
print(v is k)
print(v is not k)

False
True